[% doctype %]
<head>
    <title>Index | [% top_title %]</title>
    [% dochead %]
</head>

<body>

    [% header %]

    <!-- Content
    ================================================== -->
    <div id="content-wrap">
   	<div class="row">
   		<div id="main" class="eight columns">

            [% FOR b = blog_posts %]
                <article class="entry">
                    <header class="entry-header">
                        <h2 class="entry-title">
                            <a href="[% b.link %]" title="">[% b.title %]</a>
                        </h2>
                        <div class="entry-meta">
                            <ul>
                                <li>[% b.date %]</li>
                                <span class="meta-sep">&bull;</span>
                                <li>[% b.tags_str %]</li>
                                <span class="meta-sep">&bull;</span>
                                <li>[% b.author %]</li>
                            </ul>
                        </div> 
                    </header> 
                    <div class="entry-content">
                        <p>[%b.summary %]</p>
                    </div> 
                </article> <!-- end entry -->
            [% END %]

   		</div> <!-- end main -->

        [% sidebar %]

   	</div> <!-- end row -->

   </div> <!-- end content-wrap -->
   
    [% footer %]
    [% bottom_js %]

</body>

</html>
