[% doctype %]
<head>

    <title>About Page | [% top_title %]</title>
    [% dochead %]

</head>
<body>

   [% header %]

   <!-- Page Title
   ================================================== -->
   <div id="page-title">

      <div class="row">

         <div class="ten columns centered text-center">
            <h1>[% about.page_head %]<span>.</span></h1>

            <p>[% about.page_subhead %]</p>
         </div>

      </div>

   </div> <!-- Page Title End-->

   <!-- Content
   ================================================== -->
   <div class="content-outer">

      <div id="page-content" class="row page">

         <div id="primary" class="eight columns">

            <section>
                <h1>[% team.header %]</h1>

                [% PERL %]
                    my $first = shift @{ $stash->{'team'}{'intro'}; };
                    print qq{<p class="lead">$first</p>};
                    foreach my $additional_para( @{$stash->{'team'}{'intro'}} ) {
                        print qq{<p>$additional_para</p>};
                    }
                [% END %]

               <div class="row">
                  <div id="team-wrapper" class="bgrid-halves cf">
                    [% FOREACH mem = team.members %]
                        <div class="column member">
                            <img src="[% inc %][% mem.profile_image_large %]" alt="[% mem.full_name %]"/>
                            <div class"member-name">
                                <h5>[% mem.full_name %]</h5>
                                <span>[% mem.nick %]</span>
                            </div>
                            <p>[% mem.comment %]&nbsp;</p>
                            <ul class="member-social">
                                <li><a href="[% IF mem.links.facebook %][% mem.links.facebook %][% ELSE %]#[% END %]"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="[% IF mem.links.twitter %][% mem.links.twitter %][% ELSE %]#[% END %]"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="[% IF mem.links.google_plus %][% mem.links.google_plus %][% ELSE %]#[% END %]"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="[% IF mem.links.linkedin %][% mem.links.linkedin %][% ELSE %]#[% END %]"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="[% IF mem.links.skype %][% mem.links.skype %][% ELSE %]#[% END %]"><i class="fa fa-skype"></i></a></li>
                            </ul>
                        </div>
                    [% END %]

               </div> <!-- row End -->
            </section> <!-- section end -->
         </div> <!-- primary end -->

         <div id="secondary" class="four columns end">

            <aside id="sidebar">

               <div class="widget widget_search">
                  <h5>Search</h5>
                  <form action="#">

                     <input class="text-search" type="text" onfocus="if (this.value == 'Search here...') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Search here...'; }" value="Search here...">
                     <input type="submit" class="submit-search" value="">

                  </form>
               </div>

               <div class="widget widget_text">
                  <h5 class="widget-title">Text Widget</h5>
                  <div class="textwidget">Proin gravida nibh vel velit auctor aliquet.
                  Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,
                  nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus
                  a sit amet mauris. Morbi accumsan ipsum velit. </div>
		         </div>

               <div class="widget widget_contact">
					   <h5>Address and Phone</h5>
					   <p class="address">
                            [% FOR line = physical_address %]
                                [% line %]<br>
                            [% END %]
                            <span>[% phone %]</span>
					   </p>

					   <h5>Email and Social</h5>
					   <p>
                            E-mail: [% email.info %]<br>
                            [% FOR type = social %]
                                [% type.value.type %]: <a href="[% type.value.url %]">[% type.value.label %]</a><br>
                            [% END %]
                        </p>
				   </div>

               <div class="widget widget_photostream">
                  <h5>Photostream</h5>
                  <ul class="photostream cf">
                     <li><a href="#"><img src="[% inc %]images/thumb.jpg" alt="thumbnail"></a></li>
                     <li><a href="#"><img src="[% inc %]images/thumb.jpg" alt="thumbnail"></a></li>
                     <li><a href="#"><img src="[% inc %]images/thumb.jpg" alt="thumbnail"></a></li>
                     <li><a href="#"><img src="[% inc %]images/thumb.jpg" alt="thumbnail"></a></li>
                     <li><a href="#"><img src="[% inc %]images/thumb.jpg" alt="thumbnail"></a></li>
                     <li><a href="#"><img src="[% inc %]images/thumb.jpg" alt="thumbnail"></a></li>
                     <li><a href="#"><img src="[% inc %]images/thumb.jpg" alt="thumbnail"></a></li>
                     <li><a href="#"><img src="[% inc %]images/thumb.jpg" alt="thumbnail"></a></li>
                  </ul>
	            </div>

            </aside>

         </div> <!-- secondary End-->

      </div> <!-- page-content End-->

   </div> <!-- Content End-->

   <!-- Tweets Section
   ================================================== -->
   <section id="tweets">

      <div class="row">

         <div class="tweeter-icon align-center">
            <i class="fa fa-twitter"></i>
         </div>

         <ul id="twitter" class="align-center">
            <li>
               <span>
               This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
               Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum
               <a href="#">http://t.co/CGIrdxIlI3</a>
               </span>
               <b><a href="#">2 Days Ago</a></b>
            </li>
            <!--
            <li>
               <span>
               This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
               Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum
               <a href="#">http://t.co/CGIrdxIlI3</a>
               </span>
               <b><a href="#">3 Days Ago</a></b>
            </li>
            -->
         </ul>

         <p class="align-center"><a href="#" class="button">Follow us</a></p>

      </div>

   </section> <!-- Tweet Section End-->

   [% footer %]

   [% bottom_js %]

</body>
</html>

