[% doctype %]
<head>
	<title>Home | [% top_title %]</title>
    [% dochead %]
</head>

<body>

   [% header %]

    <!-- Intro Section
    ================================================== -->
    <section id="intro">

        <!-- Flexslider Start-->
        <div id="intro-slider" class="flexslider">
            <ul class="slides">

                [% FOR slide = slides %]
                    <li>
                        <div class="row">
                            <div class="twelve columns">
                                <div class="slider-text">
                                    <h1>[% slide.header %]<span>.</span></h1>
                                    <p>[% slide.desc %]</p>
                                </div>
                                <div class="slider-image">
                                    [% IF slide.link %]
                                        <a href="[% slide.link %]">
                                    [% END %]
                                    <img src="[% inc %][% slide.image %]" alt="[% IF slide.image_alt %][% slide.image_alt %][% ELSE %]slide image[% END %]" />
                                    [% IF slide.link %]
                                        </a>
                                    [% END %]
                                </div>
                            </div>
                        </div>
                    </li>
                [% END %]

            </ul>
        </div> <!-- Flexslider End-->

    </section> <!-- Intro Section End-->

   <!-- Info Section
   ================================================== -->
    <section id="info">
        <div class="row">
            <div class="bgrid-quarters s-bgrid-halves">

                [% FOR blurb = blurbs %]
                    <div class="columns">
                        <h2>[% blurb.header %]</h2>
                        <p>[% blurb.text %]</p>
                    </div>
                [% END %]

           </div>
      </div>

   </section> <!-- Info Section End-->

   <!-- Works Section
   ================================================== -->
   <section id="works">
      <div class="row">
         <div class="twelve columns align-center">
            <h1>Some of our recent works.</h1>
         </div>
         <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-halves">

               [% FOREACH p = portfolio %]
                    <div class="columns portfolio-item">
                        <div class="item-wrap">
                            <a href="[% p.local_path %]">
                                <img alt="[% p.images.0.image_alt %]"
                                    src="[% inc %][% p.images.0.image %]">
                                <div class="overlay"></div>
                                <div class="link-icon"><i class="fa fa-link"></i></div>
                            </a>
                            <div class="portfolio-item-meta">
                                <h5><a href="[% p.local_path %]">[% p.name %]</a></h5>
                                <p>[% p.caption %]</p>
                            </div>
                        </div>
                    </div>
                [% END %]

         </div>
      </div>
   </section> <!-- Works Section End-->

   <!-- Journal Section
   ================================================== -->
    <section id="journal">
      <div class="row">
         <div class="twelve columns align-center">
            <h1>Our latest posts and rants.</h1>
         </div>
      </div>

        <div class="blog-entries">

            [% FOR b = blog_posts %]
                <!-- Entry -->
                <article class="row entry">
                    <div class="entry-header">
                        <div class="permalink">
                            <a href="[% b.link %]"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="ten columns entry-title pull-right">
                            <h3><a href="[% b.link %]">[% b.title %]</a></h3>
                        </div>
                        <div class="two columns post-meta end">
                            <p>
                            <time datetime="2014-01-31" class="post-date" pubdate="">[% b.date %]</time>
                            <span class="dauthor">By [% b.author %]</span>
                            </p>
                        </div>
                    </div>
                    <div class="ten columns offset-2 post-content">
                        <p>
                            [% b.summary %]
                            <a class="more-link" href="[% b.link %]">Read More<i class="fa fa-arrow-circle-o-right"></i></a>
                        </p>
                    </div>
                </article>
                <!-- Entry End -->
            [% END %]

        </div> <!-- Entries End -->
   </section> <!-- Journal Section End-->

    <!-- Call-To-Action Section
    ================================================== -->
    [% IF ctoa.text %]
        <section id="call-to-action">
            <div class="row">
                <div class="ten columns offset-1">
                    [% IF ctoa.header %]
                        <h1>

                            [% IF ctoa.link %] <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT"> [% END %]
                                [% ctoa.header %]
                            [% IF ctoa.link %] </a> [% END %]
                        </h1>
                    [% END %]
                    <p> [% ctoa.text %] </p>
                </div>
            </div>
        </section> <!-- Call-To-Action Section End-->
    [% END %]

   [% footer %]

   [% bottom_js %]

</body>
</html>
