[% doctype %]
<html>
<head>
    <title>[% top_title %]</title>
    [% dochead %]
</head>
<body>
    <div class="wrapper">
        [% header %]
        <section>
            <h3>
                <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true">
                    <span class="octicon octicon-link"></span>
                </a>
                [% author %]
            </h3>

            <p>
                [% portfolio_intro %]
                <ul>
                    [% FOR p = portfolio %]
                        <li><a href="[% p.project_url %]">[% p.name %]</a></li>
                    [% END %]
                </ul>
            </p>
        </section>
    [% bottom_js %]
    
  </body>
</html>
